@use 'variables' as v; 
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
p {
    color: v.$negro;
    font-size: 2rem;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}

ul {
    padding:0;
    list-style: none;
    margin: 0;
}


.seccion {
    padding: 0 0 v.$separacion * 2;
}

.options {
    display: flex;
    justify-content: center;
    &__radio{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }
    &__radio + label::before{
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: .2rem solid v.$negro; /* Cambia el color del borde a rojo */
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
    }
    &__radio:checked + label::before{
        background-color: v.$primario;
    }
}
.custom-toast {
    background-color: white;
    border:.1rem solid v.$primario;
    box-shadow: 0 5px 15px rgba(227, 55, 30, 0.5);
    border-radius: 1rem;
    color: v.$primario;
    font-weight: bold; 
    text-align: center;
  }
 